/* color list:
    blue
    red
    green
    white: #fff
    off-white: #ddd/#eee
    grey: #aaa
    black: #000
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, "sans-serif";
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

#header {
    /* position: relative; */
    min-height: 10vh;
    padding: 0 300px;
    /* padding: 30px; */
}

#container {
    /* position: relative; */
    padding-bottom: 10px;
    background: linear-gradient(to bottom right, #fff 0%, #faf0d7 100%);
    width: 100vw;
    height: 100vh;
}

#head1 {
    /* background-color: transparent; */
    min-height: 11vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #9ab; */
    /* align-items: center; */
}

.logo-img {
    height: 10vh;
    background: none;
    border-radius: 40%;
}

.logo-text {
    font-size: 18px;
}

.logo-select,
.logo-select:hover {
    text-decoration: none;
    color: #555;
}

#head2 {
    background-color: #B8F1B0;
    /* opacity: 0.3; */
    border-radius: 10px;
    /* background-color: #299; */
    /* padding: 0 30vw 0 0; */
}

#nav-bar {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    height: 10vh;
}
.nav-list {
    /* margin-right: 50px; */
    font-size: 18px;
}

.nav-link {
    text-decoration: none;
    color: white;
}

.nav-link:hover {
    text-decoration: none;
    color: #ddd;
}

/* 
#footer{
    position: relative;
    margin-top: 100px;
}

#foot {
    position: absolute;
    bottom: 0;
    left: 0;
    min-height: 100px;
    width: 100%;
    background-color: #000;
    color: #ddd;
    padding: 30px 40px;
} */
